extends layout

block content
	p.page-type Repository
	h1
		a(href="/") / 
		= repo
	p Available branches:
	ul
		each branch in branches
			li
				a(href="/#{repo}/#{branch}")= branch
				ul
					li
						a(href="/frame/#{repo}/#{branch}/index.html")= "latest"
